<!DOCTYPE html>
<html lang="en">

<head>
    <!-- new election page -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>
        <%= title %>
    </title>
    <link rel="icon" type="image/x-icon" href="/img/vote.png">
    <style>
        body {
            background-size: cover;
        }

        #roundButton {
            border-radius: 50px;
        }

        .four {
            display: flex;
            flex-direction: row;
        }

        .five {
            display: flex;
            flex-direction: row;
        }

        .six {

            border: 2px solid aqua;
        }

        p {
            display: inline;
        }

        .invisible {
            visibility: hidden;
        }
    </style>
</head>

<body class="bg-gray-50" background="img/image.jpg">
    <%- include('header.ejs') %>
        <!-- new election page -->
        <div>
            <div class="text-3xl block mt-3 font-semibold font-serif text-black py-4">
                <a href="/elections">
                    <h1>CREATE ELECTIONS</h1>
                </a>
            </div>
        </div>
        <div class="flex text-gray-800 antialiased flex-col overflow-hidden bg-white-200 py-6 sm:py-12 w-full">
            <div class=" py-3 sm:w-96">
                <!-- <h1 class="font-light font-serif text-decoration-line: underline text-red-400">Create New election</h1> -->
                <div>
                    <% if (messages && messages.error && messages.error.length> 0) { %>
                        <% for(var i=0; i<messages.error.length; i++) { %>
                            <p class="bg-white my-4 list-none rounded-md px-4 py-2 font-serif">
                                <%= messages.error[i] %>
                            </p>
                            <% } %>
                                <% } %>
                </div>
                <!-- new election page -->
                <div class="mt-4 rounded-lg text-left w-full">
                    <form action="/elections" method="post" class="px-10 py-5">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

                        <label for="electionName" class="inline mt-3 font-semibold font-serif text-black">Enter name of
                            your election</label>
                        <input id="electionName" name="electionName" type="text" placeholder="Election name"
                            class="six border w-full h-5 px-3 py-7 mt-2 font-serif" required>

                        <!-- <div class="invisible"> -->
                        <label for="url" class="mt-3 font-semibold font-serif text-black">Enter URL </label>
                        <input id="url" name="url" type="text" placeholder="url"
                            class="six border w-full h-5 px-3 py-7 mt-2 font-serif" required>
                        <button type="submit" id="roundButton"
                            class=" mt-6 w-full bg-cyan-500 text-white py-2 px-6 rounded-md hover:bg-cyan-600 font-serif hover:text-indigo-900">Submit</button>
                        <!-- </div>                     -->
                    </form>
                </div>
            </div>
        </div>
</body>

</html>