<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>
        <%= title %>
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'PT Sans', sans-serif;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            margin-top: 1rem;
            color: black;
            padding: 2rem;
            border: 2px solid black;
            border-radius: 13px;
            font-weight: bold;
        }

        input {
            padding: 1rem;
            border-radius: 6px;
            border: 1px solid blue;
            color: black;
            background-color: white;
            margin-top: 10px;
        }

        .h {
            border: 3px solid;

            margin-top: 1rem;
            padding: 1rem;
            font-weight: bolder;
            background-color: white;
            font-family: 'PT Sans', sans-serif;
            letter-spacing: 3px;
            border-radius: 9px;
        }

        .h:hover {
            background-color: white;
            color: brown;
            /* font-size: 2rem; */

            border-radius: 9px;

        }

        .btnn {

            padding: 1rem;
            border: 3px solid slateblue;
            background-color: blueviolet;
            color: black;
            border-radius: 9px;
            text-decoration: none;
        }

        .btnn:hover {
            color: white;

        }
    </style>

</head>

<body>

    <div class="header">
        <a href="/">
            Online Voting Platform
        </a>
    </div>


    <div>
        <div>
            <div>
                <% if (messages && messages.error && messages.error.length> 0) { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <p>
                            <%= messages.error[i] %>
                        </p>
                        <% } %>
                            <% } %>
            </div>
            <div>

                <form action="/admin" method="post" class="px-8 py-6">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <label class="h">New User? Create Account</label>
                    <div style="margin-top: 2 rem;">
                        <label for="firstName">First name
                            <input id="firstName" name="firstName" type="text" placeholder="Enter Your First name"
                                required></label>
                        <br>
                        <label for="lastName">Last name
                            <input id="lastName" name="lastName" type="text" placeholder="Enter Your Last name"></label>
                    </div>
                    <div style="margin-top: 1rem;">


                        <label for="email">Email ID</label>
                        <input id="email" name="email" type="email" placeholder="Enter Your Email ID" required>
                        <br>
                        <label for="password">Password</label>
                        <input id="password" name="password" type="password" placeholder="Enter Your Password" required>
                    </div>
                    <div style="margin-top: 2rem;">
                        Existing User <a href="/login">Sign in</a>
                    </div>
                    <button class="btnn" style="margin-top: 2rem;" type="submit" id="roundButton">Create
                        Account</button>
                </form>
            </div>

        </div>
    </div>
</body>

</html>